
body {
  background-color: #eee;
  padding: 1em;
  font-size: larger;
}

h1 {
  text-align: center;
}

.verbtool {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}
.verbtool .words {
  padding: 5px;
}
.verbtool .events {
  position: relative;
  width: 800px;
  min-height: 80px;
  /* border: 1px solid black; */
  padding: 20px 0;
}
.verbtool .events .timeline {
  position: absolute;
  top: 0; right: 50%; bottom: 0; left: 50%;
  width: 2px;
  background-color: black;
  text-align: center;
}
.verbtool .events .eye {
  position: absolute;
  top: 20px; width: 40px; height: 40px; left: 380px;
  background-color: orange;
  border-radius: 20px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
  cursor: move;
  border-bottom: 2px solid black;
}
.verbtool .events .lines {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.verbtool .events .lines .eventline {
  position: relative;
  height: 50px;
}
.verbtool .events .lines .eventline .eventbox {
  position: absolute;
  top: 5px; bottom: 5px;
}
.verbtool .sentences {
  text-align: center;
}

.events .eventbox {
  border: 1px solid black;
  display: flex;
}
.events .eventbox .start {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: green;
  width: 5px;
  cursor: ew-resize;
}
.events .eventbox .body {
  background-color: white;
  flex-grow: 2;
  cursor: move;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.events .eventbox .end {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: red;
  width: 5px;
  cursor: ew-resize;
}
